body{
    text-align: center;
    margin: 0%;
    background-color: #040F26;
    color:#92b4ff;
    font-family: 'roboto', sans-serif;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    margin-bottom: 0;
    padding-bottom: 0;
    color:#66BFBF;
}

h2{
    font-size:2.25rem;
    font-family: 'Montserrat', sans-serif;
    color:#FFC947;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:#47b9e6;
}
a{  
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
    text-decoration: none;
}
a:hover{
    color:#FFC947; 
    transition: 0.3s;
}
hr{
    color: #92b5ff4f;
    margin:100px auto 100px auto;
    width:25%;
    border:10px;
    border-style: dotted none none none;
}

.who{
    color: #FFC947
}
.who-sub{
    font-size:1.666rem;
    line-height: 2;
    font-weight: normal;
    color: #FFC947
}
.topcontainer{
    background-color: #223d75;
    position: relative;
    padding-top: 100px;
    height:100%; 
}




.middle-container{
    margin:0px;
    
}
.intro{
    margin: auto;
    width: 45%;
    line-height: 1.5;
}
.bottom-container{
    background-color: #1859dbc0;
    margin:100px auto 0px auto;
    padding:25px;
    height:50px
    
}
.moon{
    position:absolute;
    left: 23%;
    top: 330px;
    width:7%;
}
.topcloud{
    position: absolute;
    right: 300px;
    top: 40px;
    height: 60px;
    width:275px;
    -webkit-animation: 25s linear 1s infinite alternate slideint;
}
@keyframes slideint{
    from {
        left: 70%;
      }
      to {
        left: 20%;
      }
    }

.shootingstar{
    position: absolute;
    width: 300px;
    height: 200px;
    top: 300px;
    right: 23%


}
.bottomcloud{
    position: absolute;
    left: 20%;
    bottom: 300px;
    -webkit-animation: 18s linear 1s infinite alternate slideinb;
}
 @keyframes slideinb{
    from {
        left: 20%;
      }
      to {
        left: 70%;
      }
    }

.profile{
    margin-top: 30px;
}


.skills-gif{
    width: 45%;
    border-style: solid;
    border-radius: 10px;
    float: left;
    margin-right: 30px;
}

.skills-gif-alt{
    width: 45%;
    border-style: solid;
    border-radius: 10px;
    float: right;
    margin-left: 30px;
}


.skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 1.5;
}

.footer-link{
    position:relative;
    margin:80px 80px;
    
}
.copyright{
    position:relative;
    bottom:0px;
    margin:25px;
    font-size:0.75rem;
}
.contact-me{
    line-height: 0.6666;
}
.contact-message{
    margin: 40px auto 60px;
    width:40%;
}
.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #185ADB;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
  }
  
.btn:hover {
    padding: 15px 25px 15px 25px;
    color: #ffffff;
    background: #dbaf48;
    text-decoration: none;
    transition: 0.5s;
    
  }
.background{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.stars{
    width:100%;
}
